<button id="chatToggle" class="chat-toggle"><i class="fa-brands fa-bots"></i></button>

<div id="chatPanel" class="chat-panel">
  <div class="chat-header">
    <span>Chatbot &nbsp;&nbsp;&nbsp;<i class="fa-brands fa-bots"></i></span>
    <button id="closeChat">✖</button>
  </div>

  <div class="chat-body" id="chatBody">
    <div class="bot-msg">Hi! How can I help you?</div>
  </div>

  <div class="chat-input">
    <!-- <input type="text" id="userInput" placeholder="Type a message..." /> -->
    <textarea id="userInput" rows="1" placeholder="Ask anything about bookings"></textarea>
    <button onclick="sendMessage()" class="snd-btn">Send</button>
  </div>
</div>