/* Floating Button */
*{
        font-family: "Plus Jakarta Sans", sans-serif;
}

.chat-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    background: #fe424d;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.chat-toggle>i {
    font-size: 2rem;
}

/* Chat Panel */
.chat-panel {
    position: fixed;
    top: 75px;
    right: -350px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.chat-panel.open {
    right: 0;
}

/* Header */
.chat-header {
    background: #fe424d;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header span{
    margin-left: 10px;
}

#closeChat{
    background: #fe424d;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 50%;
}

/* Body */
.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.bot-msg {
    background: #eee;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
}

.user-msg {
    background: #fe424d;
    color: white;
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    text-align: right;
}

/* Input */
.chat-input {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#userInput{
    margin-right: 15px;
    width: 250px;
    height: 2.2rem;
}

.snd-btn{
    background-color: #fe424d;
    border-radius: 20px;
    border: none;
    padding: 5px 15px 5px 15px;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border-radius: 25px;
}