body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-compass {
    font-size: 2rem;
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #222;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.listing-link {
    text-decoration: none;
    color: #000;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background: #fff;
}

.add-btn,
.edit-btn {
    background: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 40vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map {
    height: 400px;
    width: 40vw;
}

.mapHover{
    height: 20px;
    width:20px ;
    border-radius: 50%;
    padding: 0px;
}

.mapHover i{
    color: #fe424d;
    font-size: medium;
    margin: 0px;
}
